@model Thread
@{
    ViewData["Title"] = "EditAnswer";
}

<h2>Edit Answer</h2>
<b style="color:green">@ViewBag.Message</b>

<form method="post" action="/QA/UpdateAnswer">

    Question Title: @Model.Q.Title <br />
    Question body: @Model.Q.Detail <br />

    <br />
    <table>
        @foreach (Answers a in Model.A)
        {
            if (a.ID == ViewBag.ID)
            {
                <tr>
                    <td>

                        Details: <textarea name="detail" id="detail">@a.Detail</textarea>

                    </td>
                </tr>
            }

        }

    </table>

    <input type="hidden" name="ID" id="ID" value="@ViewBag.ID" />
    <input type="hidden" name="username" id="username" value="@ViewBag.username" />
    <input type="submit" value="Submit" />

</form>