@model Questions
@{
    ViewData["Title"] = "EditQuestion";
}


<h1>Edit Question</h1>

<b style="color:green">@ViewBag.Message</b>
<hr style="border:2px solid yellow;" />

<form method="post" action="/QA/UpdateQuestion">
    <label>Title:</label> <input type="text" name="Title" value="@Model.Title" />
    <br />
    <br />
    <br />
    <label>Details:</label> <textarea name="Detail">@Model.Detail</textarea>
    <br />
    <label>Category:</label> <select name="Category" id="Category" value="@Model.Category">
        <option value="Help">Coding Help</option>
        <option value="Errors">Errors</option>
        <option value="Discussion">Discussion</option>
        <option value="Fun">Fun stuff</option>
    </select>
    <br />
    <br />
    <label>Tags:</label> <input type="text" name="Tags" value="@Model.Tags" />

    <input type="hidden" name="Username" value="@Model.Username" />
    <input type="hidden" name="ID" value="@Model.ID" />
    <br />
    <br />
    <input type="submit" value="Submit" />
</form>

