@model Thread

@{
    ViewData["Title"] = "ReadAnswers";
}

<h1>Read Answers</h1>

<!--
    If/else the ViewBag messages


-->

<b style="color:green">@ViewBag.SaveMessage</b>


<b style="color:red">@ViewBag.DeleteMessage</b>


<hr style="border:2px solid yellow;" />

<h2>@Model.Q.Title</h2>
<h3>Posted by: @Model.Q.Username</h3>
<br />
<h4>Category: @Model.Q.Category</h4>

<p>
    @Model.Q.Detail
</p>
<br />
<label>Answers:</label>
<br/><br />
<table>

    @foreach (Answers a in Model.A)
    {
        <tr>


            <td>
                @a.Detail
                <br />
            </td>

            <td>
                Posted by: @a.Username
                <br />
            </td>

            <td>
                Posted at: @a.Posted
                <br />
            </td>
            @if (ViewBag.vote == "0" || ViewBag.vote == "-1" || ViewBag.vote == null)
            {
                <td>
                    <a href="/QA/UpVoteAnswer?answerID=@a.ID"> <input type="button" value="+" /> </a>
                    <br />
                </td>
            }
            <td>
                @a.UpVotes
                <br />
            </td>
            @if (ViewBag.vote == "1" || ViewBag.vote == "0" || ViewBag.vote == null)
            {
                <td>
                    <a href="/QA/DownVoteAnswer?answerID=@a.ID"> <input type="button" value="-" /> </a>
                    <br />
                </td>
            }

            @if (ViewBag.username == a.Username || ViewBag.username == Model.Q.Username || ViewBag.username == "admin")
            {
                <td>
                    <a href="/QA/RemoveAnswer?thisID=@a.ID"><button2>Delete</button2></a>
                </td>

                <td>
                    <a href="/QA/EditAnswer?ID=@a.ID"><button1>Edit</button1></a>
                    <!--Be able to edit your answer here-->
                </td>
            }
        </tr>

    }

</table>
<br />
<br />
<a href="/QA/WriteAnswer?id=@Model.Q.ID"><button1>Add an Answer</button1></a>

